{% extends 'basetemplate/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 class="heading">Elastic Search</h1>
    <form action="{% url 'search' %}" method="GET" enctype="multipart/form-data">
        <input
            type="text"
            name="esearch"
            id="esearch"
            placeholder="Search..."
            value="{{ request.GET.esearch|default_if_none:'' }}"
        />
        <button type="submit">Search</button>
    </form>
</div>

<div class="results">
    {% if crops %}
    <div class="container">
        <h1 class="heading_c">Crops</h1>
        <div id="crops-container" class="crops-container">
            {% for crop in crops %}
            <div class="crop-item">
                <div class="crop-card">
                    <table class="crop-table">
                        <tr>
                            <td class="label">N-Level:</td>
                            <td class="value">{{ crop.crop_nitrogen }}</td>
                        </tr>
                        <tr>
                            <td class="label">Pos-Level:</td>
                            <td class="value">{{ crop.crop_phosphorous }}</td>
                        </tr>
                        <tr>
                            <td class="label">Pot-Level:</td>
                            <td class="value">{{ crop.crop_potassium }}</td>
                        </tr>
                        <tr>
                            <td class="label">Tem:</td>
                            <td class="value">
                                {{ crop.crop_temperature|floatformat:2 }}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Hum:</td>
                            <td class="value">
                                {{ crop.crop_humidity|floatformat:2 }}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">RainFall:</td>
                            <td class="value">
                                {{ crop.crop_rainfall|floatformat:2 }}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Ph:</td>
                            <td class="value">
                                {{ crop.crop_ph|floatformat:2 }}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Level:</td>
                            <td class="value">{{ crop.crop_level }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page_number > 1 %}
                <a class="page-link" href="?page={{ page_number|add:"-1" }}{% if request.GET.esearch %}&esearch={{ request.GET.esearch }}{% endif %}">Previous</a>
            {% endif %}
            <a class="page-link" href="?page={{ page_number|add:"1" }}{% if request.GET.esearch %}&esearch={{ request.GET.esearch }}{% endif %}">Next</a>
            <span class="total-pages">Page {{ page_number }} of {{ total_page_crop }}</span>
        </div>

    </div>
    {% endif %}

    {% if kaggle_crops %}
    <div class="container">
        <h1 class="heading_k">Crops image</h1>
        <div id="kaggle-container" class="kaggle-container">
            {% for kcrop in kaggle_crops %}
            <div class="kaggle-item">
                <div class="kaggle-card">
                    <table class="kaggle-table">
                        <tr>
                            <td class="label">Crop Name:</td>
                            <td class="value">{{ kcrop.crop_name }}</td>
                        </tr>
                        <tr>
                            <td class="label">Crop Label:</td>
                            <td class="value">{{ kcrop.crop_label }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img
                                    src="{% static kcrop.image_path %}"
                                    alt="crop_image"
                                    class="crop-image"
                                />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page_number > 1 %}
                <a class="page-link" href="?page={{ page_number|add:"-1" }}{% if request.GET.esearch %}&esearch={{ request.GET.esearch }}{% endif %}">Previous</a>
            {% endif %}
            <a class="page-link" href="?page={{ page_number|add:"1" }}{% if request.GET.esearch %}&esearch={{ request.GET.esearch }}{% endif %}">Next</a>
            <span class="total-pages">Page {{ page_number }} of {{ total_page_kagel_crop }}</span>
        </div>

    </div>
    {% endif %}
</div>

{% endblock %}
